@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

* {
    margin:                0;
    padding:               0;

    font-family:           Open Sans;
    font-weight:           400;

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select:   none; /* Chrome/Safari/Opera */
    -khtml-user-select:    none; /* Konqueror */
    -moz-user-select:      none; /* Firefox */
    -ms-user-select:       none; /* Internet Explorer/Edge */
    user-select:           none; /* Non-prefixed version, currently not supported by any browser */
}
img{
    pointer-events: none;
}

button {
    height:        34px;
    width:         180px;

    color:         $white;
    background:    $white-10;

    border:        none;
    border-radius: 3px;

    cursor:        pointer;
    outline:       none;

    font-size:     0.71875rem;

    &:hover {
        background: $white-20;
    }
}

a {
    color:           $white;
    outline:         none;
    text-decoration: none;

    &:hover {
        color: $white-90;
    }
}

.h1 {
    color:       $white;
    font-weight: 700;
    font-size:   1.75rem;
}

.text {
    color:        $white;
    font-size:    0.875rem;
    white-space:  pre-line;

    margin-right: auto;
    margin-left:  auto;

    max-width:    320px;

    @include media('m-only') {
        overflow:      hidden;
        max-height:    56px;
        text-overflow: ellipsis;
    }

    @include media('t') {
        max-width: 570px;
    }
}
