.vote_bg {
    position: absolute;
    z-index: -1;

    width: 100vw;
    height: 100vh;
    min-height:      568px;

    background: url('./../../img/arena.png');
    background-size: cover;
    background-position: center;
    background-color: $purple;
}
